<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.its.mapper.BrandMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.its.domain.Brand">
        <id column="id" property="id" />
        <result column="createTime" property="createTime" />
        <result column="updateTime" property="updateTime" />
        <result column="name" property="name" />
        <result column="englishName" property="englishName" />
        <result column="firstLetter" property="firstLetter" />
        <result column="description" property="description" />
        <result column="product_type_id" property="productTypeId" />
        <result column="sortIndex" property="sortIndex" />
        <result column="logo" property="logo" />
    </resultMap>
    <resultMap id="BrandMap" type="cn.its.domain.Brand">
        <id column="id" property="id" />
        <result column="createTime" property="createTime" />
        <result column="updateTime" property="updateTime" />
        <result column="name" property="name" />
        <result column="englishName" property="englishName" />
        <result column="firstLetter" property="firstLetter" />
        <result column="description" property="description" />
        <result column="product_type_id" property="productTypeId" />
        <result column="sortIndex" property="sortIndex" />
        <result column="logo" property="logo" />
        <!--对象的映射-->
        <result column="tId" property="productType.id"/>
        <result column="tpName" property="productType.name"/>
        <!--<association property="productType" javaType="cn.itsource.aigou.domain.ProductType">
            <id property="id" column="tid"/>
            <result property="name" column="tname"/>
        </association>-->
    </resultMap>



    <!--查询的字段-->
    <sql id="columns">
        b.id ,
        b.createTime ,
        b.updateTime ,
        b.name ,
        b.englishName ,
        b.firstLetter ,
        b.description ,
        b.product_type_id ,
        b.sortIndex ,
        b.logo
    </sql>
    <sql id="whereSql">
        <where>
            <if test="query.keyword!=null and query.keyword!=''">
                and (
                b.name like concat('%',#{query.keyword},'%')
                or
                b.englishName like concat('%',#{query.keyword},'%')
                or
                tp.name like concat('%',#{query.keyword},'%')
                )
            </if>
        </where>
    </sql>

    <select id="queryPage" resultMap="BrandMap">
        SELECT
        <include refid="columns"/>,tp.id tpId,tp.name tpName
        FROM t_brand b
        LEFT JOIN t_product_type tp on  b.product_type_id = tp.id
        <include refid="whereSql"/>
    </select>

</mapper>
